* {
  border: none;
  border-radius: 0;
  font-family: Cartograph CF Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-power,
#custom-cputemp,
#custom-spotify,
#custom-kernel,
#custom-uptime,
#custom-updates,
#custom-weather,
#window,
#clock,
#pulseaudio,
#workspaces,
#tray {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid #181825;
}

#custom-spotify {
  border-radius: 0 10px 10px 0;
  padding-right: 15px;
  color: #a6e3a1;
}

#custom-kernel {
  color: #89b4fa;
}

#custom-power {
  color: #f38ba8;
  font-weight: bolder;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  padding-right: 15px;
}

#tray {
  border-radius: 10px;
  padding: 0 15px;
  margin-right: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px 0 0 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}


#custom-updates {
  color: #f5c2e7;
  border-left: 0px;
  border-right: 0px;
}

#custom-cputemp {
  color: #f38ba8;
  border-radius: 10px 0px 0px 10px;
  padding-left: 15px;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 10px;
  padding: 0 15px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  padding-left: 15px;
  border-right: 0px;
}

#pulseaudio {
  color: #cba6f7;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 15px;
}

#custom-weather {
  color: #f9e2af;
  border-right: 0px;
}
